/* 自定义标题栏样式 */
QMainWindow{
    background: transparent;
    padding: 0px;
    font-size: 14px;
}
QWidget{
    margin:0px;
    padding:0px;
}

QWidget#centralWidget{
    background-color: rgba(17, 24, 39, 1);
    margin: 0px;
    padding: 0px;
    /*border-radius:15px;*/
}

QSplitter#mainSplitter {
    margin: 0px;
    padding: 0px;
    width: 0px;

}


QWidget#leftContentQidget{
    background-color: rgba(31,41,55,1);
    margin: 0px;
    padding: 0px;
    color:rgb(156, 163, 175);

}

QWidget#leftopWidget{
/*    color:rgb(156, 163, 175);*/
    margin:0px;
    padding:0px;

}

QLabel#titleLabel{
   font-size: 24px;
   line-height: 32px;
   font-weight:700;
   color: rgba(168,85,247,1);
   min-height:32px;
   margin:0px 0px 10px 0px;

}

QPushButton#connectNewPushButton{
   height: 30px;
   min-width:120px;
   background: rgba(147, 51, 234, 1);
   border-radius: 6px;
   color: #ffffff;
   padding: 3px 0px;
   text-align: center;
   margin: 0px;
   qproperty-iconSpacing: 8px; /* 设置图标与文字间距 */
}

QPushButton#connectNewPushButton:hover {
    background: rgba(171, 83, 255, 1); /* 明显的背景色变化 */
    border: 1px solid rgba(194, 130, 255, 1); /* 边框颜色变化 */
}

QLabel[class="title-white"]{
   color:rgba(255,255,255,1);
   font-weight:bold;
}

QListView#connectListView{
   padding:0px;
   margin:0px;
   background-color: rgba(31,41,55,1);
   color:rgb(156, 163, 175);
   border:none;
}

/* 单个项目样式 */
QListView#connectListView::item {
    min-height: 40px;
    width:100%;
    padding: 0px;
    margin: 0px;
    border: 0px solid transparent;
    border-radius: 6px;
    background: red;
    font-size:16px;
}

/* 鼠标悬停效果 */
QListView#connectListView::item:hover {
/*    background-color: #e8f4ff;*/
    border: 0px solid #b3d9ff;
    background-color: red;
}

/* 选中状态 */
QListView#connectListView::item:selected {
/*    background-color: #374151;*/
    border: 0px solid #374151;
    color: white;
    background:red;
}

/* 选中但未激活状态 */
/*QListView#connectListView::item:selected:!active {
    background-color: #374151;
    color: #333;
}*/

/* 交替行颜色 */
QListView#connectListView::item:alternate {
    background-color: #374151;
}

/* 禁用状态 */
QListView#connectListView::item:disabled {
    color: #999;
    background-color: #f0f0f0;
}

/* 滚动条样式 */
QScrollBar#connectListView:vertical {
    border: none;
    background: #374151;
    width: 10px;
    margin: 0px;
}

QScrollBar#connectListView::handle:vertical {
    background: #c1c1c1;
    border-radius: 5px;
    min-height: 30px;
}


QPushButton#settingPushButton,
QPushButton#importPushButton,
QPushButton#exportPushButton
{
   border-radius: 6px;
   width:36px;
   height:36px;
   padding:0px;
   margin:0px;
   background:rgba(55,65,81,1);

}

QPushButton#settingPushButton:hover,
QPushButton#importPushButton:hover,
QPushButton#exportPushButton:hover {
    background: rgba(171, 83, 255, 1); /* 明显的背景色变化 */
}


QPushButton.left-menu-btn{
    color: rgb(209, 213, 219);
    height:40px;
    text-align: left;
    padding-left:10px;
    padding-right:10px;
    background-color: rgba(31,41,55,1);
    border:none;
    border-radius: 6px;

}

QPushButton.left-menu-btn::icon{
    padding-left:0px;
    padding-right:0px;
    margin-right:20px;

}

QPushButton.left-menu-btn:hover{
    background-color: rgba(147, 51, 234, 1);

}


QPushButton.left-menu-btn-selected{
    background-color: rgba(147, 51, 234, 1);
    color: rgb(209, 213, 219);
    height:40px;
    text-align: left;
    padding-left:10px;
    padding-right:10px;
    border:none;
    border-radius: 6px;
}



QPushButton.right-top-menu-btn{
    background-color: rgba(147, 51, 234, 1);
    color: rgb(209, 213, 219);
    text-align: center;
    padding: 0px;
    border:none;
    border-radius: 50%;
}


QPushButton.right-top-menu-btn:hover {
   background-color: rgba(171, 83, 255, 1);
/*   box-shadow: 0px 4px 12px rgba(147, 51, 234, 0.3);*/

}

QPushButton#addButton {
   height: 30px;
   min-width:80px;
   background: rgba(147, 51, 234, 1);
   border-radius: 6px;
   color: #ffffff;
   padding: 3px 10px;
   text-align: center;
   margin: 0px 5px;
}

QPushButton#addButton:hover {
    background: rgba(171, 83, 255, 1); /* 明显的背景色变化 */
    border: 1px solid rgba(194, 130, 255, 1); /* 边框颜色变化 */
}

QPushButton#refreshButton {
   height: 30px;
   min-width:80px;
   background: rgba(147, 51, 234, 1);
   border-radius: 6px;
   color: #ffffff;
   padding: 3px 10px;
   text-align: center;
   margin: 0px 5px;
}

QPushButton#refreshButton:hover {
    background: rgba(171, 83, 255, 1); /* 明显的背景色变化 */
}

QPushButton#addButton,#refreshButton{
  min-width:80px;

}

QComboBox.keyPageSearchComboBox{
  width:60px;
  padding: 3px 10px;
  margin: 0px 5px;
  height:30px;
  background-color:rgba(31,41,55,1);
  color:#ffffff;
  font-weight:bold;

}

/* 设置下拉列表的宽度与组合框一致 */
QComboBox.keyPageSearchComboBox QAbstractItemView {
    width: 80px;  /* 与 comboBox 宽度一致 */
    background-color:rgba(31,41,55,1);
    color: #ffffff;
    outline: none;
    padding: 3px 10px;
    margin: 0px 5px;
}

/* 可选：设置下拉列表项的样式 */
QComboBox.keyPageSearchComboBox QAbstractItemView::item {
    min-height: 25px;
    padding: 5px;
}

QComboBox.keyPageSearchComboBox QAbstractItemView::item:hover {
    background: rgba(255, 255, 255, 0.1);
}

QLineEdit#searchLineEdit{
    background-color:rgba(31,41,55,1);
    height: 30px;
    min-width:80px;
    border-radius: 6px;
    color: #ffffff;
    padding: 3px 10px;
    text-align: center;
    margin: 0px 5px;
}






