/* 自定义标题栏样式 */
QMainWindow{
    background: transparent;
    padding: 0px;
    font-size: 14px;
}
QWidget{
    margin:0px;
    padding:0px;
}

QWidget#centralWidget{
    background-color: rgba(17, 24, 39, 1);
    margin: 0px;
    padding: 0px;
   /* border-radius:15px;*/
}

QSplitter#mainSplitter {
    margin: 0px;
    padding: 0px;
    width: 0px;

}

/* width水平分割器的手柄宽度 */
/* height垂直分割器的手柄高度 */
/*QSplitter#mainSplitter::handle {
       background-color: #cccccc;
       width: 1px;
       height: 1px;
       border: 1px solid #ffffff;
       border-radius: 3px;
       margin: 0px;
   }*/

   /* 手柄悬停效果 */
/*   QSplitter#mainSplitter::handle:hover {
       background-color: #3498db;
       border-color: #2980b9;
   }*/

   /* 手柄按下效果 */
/*   QSplitter#mainSplitter::handle:pressed {
       background-color: #2980b9;
   }*/



QWidget#leftContentQidget{
    background-color: rgba(31,41,55,1);
    margin: 0px;
    padding: 0px;
    color:rgb(156, 163, 175);

}

QWidget#leftopWidget{
/*    color:rgb(156, 163, 175);*/
    margin:0px;
    padding:0px;

}

QLabel#titleLabel{
   font-size: 24px;
   line-height: 32px;
   font-weight:700;
   color: rgba(168,85,247,1);

}

QPushButton#connectNewPushButton{
   height: 30px;
   min-width:100px;
   background: rgba(147, 51, 234, 1);
   border-radius: 6px;
   color: #ffffff;
   padding: 3px 0px;
   text-align: center;
   margin: 0px;
   qproperty-iconSpacing: 8px; /* 设置图标与文字间距 */
}

QPushButton#connectNewPushButton:hover {
    background: rgba(171, 83, 255, 1); /* 明显的背景色变化 */
    border: 1px solid rgba(194, 130, 255, 1); /* 边框颜色变化 */
    box-shadow: 0px 4px 12px rgba(147, 51, 234, 0.3); /* 增强的阴影效果 */
}

QLabel[class="title-white"]{
   color:rgba(156,163,175,1);
   font-size:14px;
   font-weight:500;
}

QListView#connectListView{
   padding:0px;
   margin:0px;
   background-color: rgba(31,41,55,1);
   color:rgb(156, 163, 175);
   border:none;
}

/* 单个项目样式 */
QListView#connectListView::item {
    min-height: 40px;
    width:100%;
    padding: 0px;
    margin: 0px;
    border: 0px solid transparent;
    border-radius: 6px;
    background: red;
    font-size:16px;
}

/* 鼠标悬停效果 */
QListView#connectListView::item:hover {
/*    background-color: #e8f4ff;*/
    border: 0px solid #b3d9ff;
    background-color: red;
}

/* 选中状态 */
QListView#connectListView::item:selected {
/*    background-color: #374151;*/
    border: 0px solid #374151;
    color: white;
    background:red;
}

/* 选中但未激活状态 */
/*QListView#connectListView::item:selected:!active {
    background-color: #374151;
    color: #333;
}*/

/* 交替行颜色 */
QListView#connectListView::item:alternate {
    background-color: #374151;
}

/* 禁用状态 */
QListView#connectListView::item:disabled {
    color: #999;
    background-color: #f0f0f0;
}

/* 滚动条样式 */
QScrollBar#connectListView:vertical {
    border: none;
    background: #374151;
    width: 10px;
    margin: 0px;
}

QScrollBar#connectListView::handle:vertical {
    background: #c1c1c1;
    border-radius: 5px;
    min-height: 30px;
}

/*QScrollBar::handle:vertical:hover {
    background: #a8a8a8;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}*/

/*QPushButton#connectNewPushButton:pressed {
    background: rgba(123, 29, 207, 1);
    box-shadow: 0px 2px 6px rgba(147, 51, 234, 0.4);
}*/

/*.hover\:shadow-lg:hover {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

<style>
.hover\:bg-purple-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(126 34 206 / var(--tw-bg-opacity, 1));
}*/


QPushButton#settingPushButton,
QPushButton#importPushButton,
QPushButton#exportPushButton
{
   border-radius: 6px;
   width:36px;
   height:36px;
   padding:0px;
   margin:0px;
   background:rgba(55,65,81,1);

}

QPushButton#settingPushButton:hover,
QPushButton#importPushButton:hover,
QPushButton#exportPushButton:hover {
    background: rgba(171, 83, 255, 1); /* 明显的背景色变化 */
    /*border: 1px solid rgba(194, 130, 255, 1);*/
    box-shadow: 0px 4px 12px rgba(147, 51, 234, 0.3); /* 增强的阴影效果 */
}


QPushButton[class="left-menu-btn"]{
    color: rgb(209, 213, 219);
    height:40px;
    text-align: left;
    padding-left:10px;
    padding-right:10px;
    background-color: rgba(31,41,55,1);
    border:none;

}

QPushButton[class="left-menu-btn"]::icon{
    padding-left:0px;
    padding-right:0px;
    margin-right:20px;

}

QPushButton[class="left-menu-btn"]:hover{
    background-color: rgba(147, 51, 234, 1);

}

QPushButton[class="left-menu-btn-selected"]{
    font-weight:bold;
    height: 30px;
    min-width:100px;
    background-color: rgba(147, 51, 234, 1);
    border-radius: 16px;

}










